
#col-right{	
	background-color: #ccc;
}
.box{
	background-color: #fff;
}
#col-left{
	background-color: #fff;
}
.form-grop{
	
	padding: 10px;
}

.text-remind{
	margin-top: 14px;
	margin-bottom: 20px;	
	border-bottom: 1px solid #ccc;
	padding-bottom:6px;
}

.dropup{
	margin-bottom: 15px;
	margin-top: 8px;
}

#panel-node{
	display:none;
}

#node-body{
	padding-bottom:5px;
	padding-top:5px;
}