.webuploader-container {
	position: relative;
	background-color: #00b7ee;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;

	font-size: 13px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	vertical-align: middle;
}
.webuploader-pick :hover{
	background-color: #00b7ee;
	color: #00b7ee;
}
.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

